
body{
	font-family: Tahoma;
}
.donenHisseler{
	background:black;

}
.logo{
	background:#C2CCD5;
	text-align:center;
	z-index:6;
	img{
		height: 80px;
	}
	a{
		float:right;
		margin-top: 2%;
	}
}
.settings{
	font-size:22px;
	background:#0EABE6;
	color:white;
	position: absolute;
	z-index:6;
	text-align:center;
	padding:10px;
	transform:translateX(-27px) translateY(15px);
	cursor:pointer;
	transition:all .4s ease;
}
.sagird{
	text-align:center;
	height:600px;
	overflow:hidden;
	margin-left:1px;
}
.muellimler{
	left:338px;
}
.valideyn{
	left:675px;
}
.muellimler,.valideyn{
	overflow:hidden;
	position: absolute;
	top:305px;
	height:250px;
	display: inline-block;
	img{
		height: 305px;
	}

}
.imtahan{
	overflow:hidden;
	display:inline-block;
	position: absolute;
	right:0;
	top:80px;
	height:600px;
	img{
		height: 600px;
	}

}

.quiz,.meeting,.dersCedveli{
	overflow:hidden;
	display: inline-block;
	height:250px;
	img{
		height: 305px;
	}

}
.elaqe{
	overflow:hidden;
	height:125px;
	display:block;
	margin-top:225px;
	img{
		height: 600px;
	}

}

@media (max-width:1050px){
	.donenHisseler{
		display: none;
	}

	ul{
		list-style-type: none;
		li{
			height: 100px;
			overflow: hidden;
			margin-top: 25px;

			img{
				margin-top: -100px;
				height: 100px;
			}
		}
	}
}

@media (min-width:1050px){
	ul{
		display: none;
	}
}


// --------------------------SAGİRDLER PAGESİ--------------------------
.sagirdButton{
	color:#0AAAE7;
	text-decoration:none;
	transition:all .3s ease;
	padding:5px;
	border:2px solid #0AAAE7;

	font-size:17px;
	&:hover{
		text-decoration: none;
		color:white;
		background:#0AAAE7;
	}
}

.bluetable{
	margin-top:20px;
	font-size:15px;
}
.bluetable tr:nth-child(even){
	background:#0AAAE7;
	color:white;
}

// settings
.info{
	background:#324C57;
	margin-top:50px;
	h2{
		color:white;
	}
	img{
		height: 120px;
		width: 120px;
		margin:auto;
		background:white;
		border-radius:100%;
		padding:1px;
	}
	p{
		color:white;
		font-size: 20px;
		font-family: Tahoma;
	}
	i{
		color:white;
	}
}
.update{
	background:#126786;
	margin-top:30px;
	margin-bottom:30px;
	.btn-success{
		margin-bottom:20px;
		float:right;
	}
}